CUPS_USER=eden                  # CUPS user
CUPS_PASSWD=**************      # CUPS password
CUPS_HOST=192.168.1.4:631       # CUPS server host
CUPS_PRINTER=StarLC-10          # CUPS printer name
CUPS_OPTS={"media": "A4"}       # Additional options given to the cups server when printing

# github personal access token. unfortunately the entire 'repo' scope is required- see 
#   https://stackoverflow.com/questions/55420473/github-api-token-scope-to-list-issues-of-a-private-repo
GITHUB_TOKEN=************************************
# associated user from which to get repos
GITHUB_USER=jwansek

# Issues are rendered to HTML then converted to PDF using wkhtmltopdf. Options given to wkhtmltopdf
WKHTMLTOPDF_OPTS={"page-size": "A4", "margin-top": "0.75in", "margin-right": "0.75in", "margin-bottom": "0.75in", "margin-left": "0.75in", "encoding": "UTF-8", "custom-header": [["Accept-Encoding", "gzip"]], "no-outline": null}